*{box-sizing: border-box;}

body{
  height: 100%;
  width: 100%;
  background-color: #bfbeed;
  font-family: Monaco, Lucida Console, Verdana;
}

h1{
  width: 18%;
  margin-top: 25px;
  padding: 5px;
  border: 5px dashed #63578a;
}
